<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar sticky-top py-3">
                    <div class="container-fluid">
                        <div class="container col-md-10">
                            <div class="navbar-nav nav row justify-content-end">
                                <li class="mx-2">
                                    <a href="/">View Site</a>
                                </li>
                                <div style="border: 1px solid; color: grey;"></div>
                                <li class="mx-2"><span></span> Admin</li>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid d-flex flex-column col-md-10">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary text-xs mb-1">
                                                <span>Date</span>
                                            </div>
                                            <div class="text-dark h5 mb-0"><span>5th February,
                                                    2021</span></div>
                                        </div>
                                        <div class="col-auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success text-xs mb-1">
                                                <span>Number of Companies</span>
                                            </div>
                                            <div class="text-dark h5 mb-0"><span>9</span></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-danger text-xs mb-1">
                                                <span>Number of Views</span>
                                            </div>
                                            <div class="text-dark h5 mb-0"><span>100</span></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-info py-1">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-info text-xs mb-1">
                                                <span>Actions</span>
                                            </div>
                                            <div class="text-dark h5 mb-0">
                                                <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                                                    data-target="#portfolioModal">Add Portfolio</button>
                                                <button class="btn btn-sm btn-info">Add Image</button>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid d-flex flex-column col-md-10 col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row justify-content-between px-3">
                                        <h6 class="text-info font-weight-bold mt-2">Add Image to Portfolio</h6>
                                    </div>
                                </div>
                                <div class="row h-75 justify-content-center align-items-center my-5">
                                    <div class="col-10">
                                        <form action="./add_image" method="post" data-aos="fade-up"
                                            data-aos-delay="300" role="form">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <select name="pfolio_name" class="form-control">
                                                        <% if (all_pfolios) { %>
                                                            <% all_pfolios.map(item => { %>
                                                                <option value="<%= item.pfolio_name %>"><%= item.pfolio_name %></option>
                                                           <% }) %>
                                                        <% }%>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" type="file" name="pfolio_image"
                                                        placeholder="Portfolio Category">
                                                </div>
                                            </div>
                                            <button class="btn btn-sm btn-info" type="submit">Add Portfolio</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid d-flex flex-column col-md-10 col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row justify-content-between px-3">
                                        <h6 class="text-info font-weight-bold mt-2">Portfolios</h6>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <% if (all_pfolios.length> 0) { %>
                                        <% all_pfolios.map(item=> { %>
                                            <li class="list-group-item">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col mr-2">
                                                        <h6 class="mb-0"><a href="#">
                                                                <%= item.pfolio_name %>
                                                            </a></h6><span class="text-xs">
                                                            <%= item.images %> Images
                                                        </span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <form action="./delete/<%= item.id %>" method="post">
                                                            <button class="btn btn-sm btn-link text-danger"
                                                                type="submit">x</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                            <% }) %>
                                                <% } else { %>
                                                    <div class="container">
                                                        <p class="my-3 lead">No portfolios added yet</p>
                                                    </div>
                                                    <% }%>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modals -->
    <!-- portfolio modal -->
    <div class="modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title lead">Add Portfolio</h5>
                </div>
                <div class="modal-body">
                    <div class="row h-75 justify-content-center align-items-center">
                        <div class="col-12">
                            <form action="./add_pfolio" method="post" data-aos="fade-up" data-aos-delay="300"
                                role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="pfolio_name"
                                            placeholder="Portfolio Category">
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-info" type="submit">Add Portfolio</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end portfolio modal -->
    <!-- end modals -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>